/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96.87px;
}

.header__menu {
  text-align: center;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap:31.7px;
}

.header__links-list-item {
  list-style: circle;
  text-decoration: underline;
}

.links-list-item_active {
  list-style: none;
  text-decoration: none;
}

.header_logo {
  display: block;
  width: 131px;
}

.header_logo_image {
  width: 100%;
}

.address {
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.cover {
  position: relative;
  z-index: 0;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1100px;
  min-height: 757px;
  padding: 50px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover_title {
  display: flex;
  flex-direction: column;
  margin: 115px -30px 106px 0;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 128.5px;
  color: white;
}

.aligned-text {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover_text {
  font-size: 22px;
  word-spacing: 18px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.bet_button {
  text-transform: uppercase;
  font-size: 22px;
  background-color: transparent;
  border-color: white;
  color: white;
  border-width: 1px;
  padding: 12px 32px 11px 31px;
}

.lots {
  margin-top: 180px;
}

.lots_heading {
  margin: 0 0 27px 64px;
  text-transform: uppercase;
  font-size: 40px;
}

.lots_list {
  display: flex;
  gap: 25px;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lot {
  width: 334px;
  min-height: 596px;
  
}

.lot_a_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lot_a_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lot_a_paint {
  background-image: url(../images/card-lot-03.jpg);
}

.lot_article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

.lot_heading {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
}

.lot_text {
  font-size: 20px;
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
}

.look_more {
  margin-left: 64px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 334px 718px;
  margin: 156px 24px 180px;
  line-height: 24px;
}

.about_logo_circle {
  position: relative;
  display: flex;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  z-index: -1;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.about_logo_image {
  width: 148px;
}

.about_heading {
  margin: 100px 0 100px;
  padding-left: 25px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 24px;
  padding-left: 25px;
}

.footer {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 0 50px 84px;
  font-size: 18px;
}

.footer_address {
  justify-self: start;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  justify-self: center;
  
}

.footer_menu_list {
  list-style: none;
  font-size: 18px;
  text-align: center;
}

.footer_menu_item {
  text-decoration: underline;
}

.link-active {
  text-decoration: none ;
}

.media_icons {
  
  width: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "yt . vk . pint";
  justify-content: space-between;
  justify-self: end;
  
}

.media_icons_list {
  list-style: none;
}

.media_icon_yt {
  display: block;
  grid-area: yt;
  width: 48px;
}

.media_icon_vk {
  grid-area: vk;
  display: block;
  width: 48px;
}

.media_icon_pint {
  grid-area: pint;
  display: block;
  width: 48px;
}

.icon {
  width: 100%;
}
